<%- include("partials/header.ejs") %>

<h1 class="m-5">Edit</h1>
<%if(locals.post){%>
  <form action="/edit/<%= post.id%>" method="post">
    <div class="card m-5 mt-0">
      <div class="card-header justify-content-start gap-3 d-flex">
        <input
          class="form-control"
          type="text"
          name="title"
          id="title"
          value="<%= post.title%>"
          required
        />
      </div>
      <div class="card-body">
        <p class="card-text">
          <textarea
            name="content"
            id="content"
            class="form-control"
            rows="10"            
            required
          ><%= post.content%></textarea>
        </p>
      </div>
      <div class="card-footer text-body-secondary d-flex justify-content-between">
      
        <div>
          <input
          class="form-control"
          type="text"
          name="author"
          id="author"      
          value="<%= post.author%>"
          required
        />
        </div>
        <div> <button type="submit" class="btn btn-primary">Save</button> </a></div>
        <!-- //no a for not duplicite -->
    
      </div>
    </div>
    </form>
  <%}%>
<%- include("partials/footer.ejs") %>
